<footer>
  <div class="footer-bg-mask"></div>
  <div class="footer-conteudo">
    <div class="footer-slogan">
      <h2 class="footer-titulo">Colônia Delivery</h2>
      <p class="footer-descricao">{{ site.description }}</p>
    </div>
    <div class="formas-pagamento">
      <h3 class="footer-info-titulo">Formas de pagamento</h3>
      <ul>
        <li class="pagamento">Cartão de crédito/débito</li>
        <li class="pagamento">Dinheiro (na entrega)</li>
      </ul>
    </div>
    <div class="entregas">
      <h3 class="footer-info-titulo">Entregas</h3>
      <ul>
        <li class="entrega">Vale do Taquari</li>
        <li class="entrega">Vale dos Sinos</li>
      </ul>
    </div>
    <p class="copyrights"> {{ site.ano_desenvolvimento }} Brasil © Todos os direitos reservados | Desenvolvido por <a href="{{ site.link_autor }}">Willian Pramio</a></p>
  </div>
</footer>