<footer class="z-index-10">
  <div class="footer-bg-mask"></div>
  <div class="footer-conteudo">
    <div class="footer-slogan">
      <h2 class="footer-titulo">Colônia Delivery</h2>
      <p class="footer-descricao">👨‍🌾 Levando o melhor da colônia até você!</p>
      <div class="footer-contatos">
        <a class="link-contato" href="{{ site.instagram_link }}" target="_blank">
          <img class="icone-contato" src="images/contato/instagram-logo.svg">{{ site.instagram }}
        </a>
      </div>
    </div>
    <div class="formas-pagamento">
      <h3 class="footer-info-titulo">Formas de pagamento</h3>
      <ul>
        <li class="pagamento">Cartão de crédito/débito</li>
        <li class="pagamento">Dinheiro (na entrega)</li>
      </ul>
    </div>
    <div class="entregas">
      <h3 class="footer-info-titulo">Entregas</h3>
      <ul>
        <li class="entrega">Vale do Taquari</li>
        <li class="entrega">Vale dos Sinos</li>
      </ul>
    </div>
    {% include frete.html opt_class="desktop-only" %}
    <p class="copyrights"> {{ site.ano_desenvolvimento }} Brasil © Todos os direitos reservados | Desenvolvido por <a href="{{ site.link_autor }}">Willian Pramio</a></p>
  </div>
</footer>