<header>
  <div class="header-bg-mask"></div>
  <div class="header-conteudo">
    <h1 class="header-logo-wrapper">
      <img class="header-logo" src="{{ 'images/logo.png' | relative_url }}" alt="Colônia Delivery">
    </h1>
    <div class="header-botao-pedido botao-wrapper botao-cta-verde">
      <a class="botao-pedido-link" href="{{ site.whatsapp_link_cta }}" target="_blank">
        <img class="botao-pedido-img" src="images/contato/whatsapp-logo.svg">
        <span class="botao-pedido-texto">Faça seu pedido aqui!</span>
      </a>
    </div>
  </div>
</header>