
$logo-azul-escuro: #18a5df;
$logo-amarelo-queijo: #fde74c;
$logo-laranja-escuro: #ed2c24;
$logo-vermelho-escuro: #7c2214;
$logo-cor-texto: #40160a;
$logo-cor-rolha: #ffcd99;
$logo-cor-tabua: #f9a556;

$body-fundo: #fff;

$header-fundo: #ff8800;
$header-borda: #40160a;

$botao-cta-verde-bgcolor: green;
$botao-cta-verde-bgcolor-hover: rgb(0,140,0);
$botao-cta-verde-textcolor: #fff;
$botao-cta-fontsize: 1.1rem;
$botao-cta-desktop-fontsize: 1.8rem;

$contatos-titulo-fontsize: 2.5rem;
$contatos-fontsize: 1.4rem;

$cardapio-fundo: #fff;
$cardapio-titulo-bgcolor: #7c2214;
$produto-titulo-fontcolor: #7c2214;
$produto-titulo-fontsize: 40px;
$produto-descricao-fontsize: 22px;
$produto-preco-fontsize: 26px;

$frete-fontsize: 22px;
$frete-table-header-fontsize: 26px;

$footer-info-titulo-fontsize: 1.5rem;

$footer-fundo: #7c2214;
$footer-fontcolor: #fff;
$footer-titulo-fontsize: 2.2rem;
$footer-descricao-fontsize: 1.3rem;
$footer-copyrights-fontsize: 0.95rem;

$cartaz-promocao-bgcolor: $logo-laranja-escuro;
$cartaz-promocao-fontcolor: #fff;
$cartaz-promocao-fontsize: 2.5rem;
$patch-promocao-fontsize: 2rem;
$preco-antigo-fontcolor: #999;
$preco-antigo-fontsize: 20px;
$preco-promocional-fontcolor: $logo-laranja-escuro;
$preco-promocional-fontsize: 30px;

html {
  box-sizing: border-box;
  font-size: 85%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.1;
  font-family: 'Quattrocento Sans', sans-serif;
  color: rgb(0, 0, 0);
  background-color: $body-fundo;
  box-sizing: border-box;
  min-height: 100vh;
}

h2 {
  font-size: 50px;
}

.hide, .desktop-only {
  display: none;
}

.container-conteudo {
  flex-grow: 1;
}

header {
  position: relative;
  margin-bottom: 40px;
  background-color: $header-fundo;
  border-bottom: 5px solid $header-borda;
  background-image: url("/images/wood_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-bg-mask, .footer-bg-mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
  height: 100%;
  width: 100%;
}

.footer-bg-mask {
  opacity: 0.5;
}

.header-conteudo {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.header-logo {
  max-width: 70vw;
  max-height: 50vh;
}

.header-botao-pedido {
  margin-bottom: 50px;
  .botao-pedido-link {
    font-size: 1.2rem;
    padding: 18px;
  }
}

.fixo-inferior-direita {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 15px 15px 0;
}

.fixo-inferior-esquerda {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 0 15px 15px;
}

.z-index-9 { z-index: 9; }
.z-index-10 { z-index: 10; }

.fundo-vermelho-escuro {
  background-color: $logo-vermelho-escuro;
}

.titulo-section {
  color: white;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 40px;
}

.botao-cta-verde {
  background-color: $botao-cta-verde-bgcolor;
  color: $botao-cta-verde-textcolor;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  transition: background-color .3s ease-out;
}

.botao-cta-verde:hover {
  background-color: $botao-cta-verde-bgcolor-hover;
}

.botao-pedido {
  padding: 14px 20px;
}

.botao-pedido-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.botao-pedido-link {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  color: $botao-cta-verde-textcolor;
  font-size: $botao-cta-fontsize;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.cardapio-wrapper {
  background-color: $cardapio-fundo;
}

.lista-produtos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.lista-produtos-item {
  display: flex;
  flex-flow: column;
  position: relative;
  margin-bottom: 70px;
  width: 80vw;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

.produto-img {
  width: 80vw;
}

.produto-img-g-link {
  color: #000;
}

.produto-img-expandir {
  display: block;
  text-align: right;
  margin-top: -3px;
  font-size: 12px;
  color: #000;
}

.produto-titulo {
  font-size: $produto-titulo-fontsize;
  color: $produto-titulo-fontcolor;
  margin-top: 5px;
  margin-bottom: 5px;
}

.produto-descricao {
  font-size: $produto-descricao-fontsize;
  margin-bottom: 5px;
}

.produto-preco {
  font-size: $produto-preco-fontsize;
  line-break: strict;
}

.frete {
  width: 100%;
}

.frete-conteudo {
  font-size: $frete-fontsize;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.frete-table {
  margin-bottom: 20px;
}

.frete-table-tr {
  border-top: 1px solid $logo-vermelho-escuro;
  line-height: 1.5;
}

.frete-table-header {
  font-size: $frete-table-header-fontsize;
  font-weight: bold;
}

.frete-table-regiao {
  min-width: 175px;
}

.frete-table-valor {
  min-width: 105px;
  text-align: center;
}

.frete-outras-cidades {
  padding: 0 30px;
}

.footer-slogan {
  margin-top: 30px;
}

.footer-contatos {
  font-size: $contatos-fontsize;
  box-sizing: border-box;

  .link-contato {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icone-contato {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

.formas-pagamento {
  margin: 30px 0;
}

.entregas {
  margin-bottom: 30px;
}

.footer-info-titulo {
  font-size: $footer-info-titulo-fontsize;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}

footer {
  position: relative;
  margin-top: 30px;
  color: $footer-fontcolor;
  background-color: $footer-fundo;
  background-image: url("/images/wood_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  padding: 0 15px;
}

.footer-conteudo {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 170px;
}

.footer-titulo {
  font-size: $footer-titulo-fontsize;
}

.footer-descricao {
  font-size: $footer-descricao-fontsize;
  margin-bottom: 15px;
}

.copyrights {
  font-size: $footer-copyrights-fontsize;
  margin-bottom: 30px;
  text-align: center;
  a {
    color: white;
  }
}

.cartaz-promocao-wrapper {
  max-width: 50%;
  margin: 10px auto 40px;
  display: flex;
  justify-content: center;
}

.cartaz-promocao {
  padding: 15% 20%;
  background-color: $cartaz-promocao-bgcolor;
  color: $cartaz-promocao-fontcolor;
  font-size: $cartaz-promocao-fontsize;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.patch-promocao {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 50%;

  background-color: $cartaz-promocao-bgcolor;
  color: $cartaz-promocao-fontcolor;
  font-size: $patch-promocao-fontsize;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;

  .patch-promocao-desconto { transform: rotate(-20deg); }
}

.preco-antigo {
  text-decoration: line-through;
  font-size: $preco-antigo-fontsize;
  color: $preco-antigo-fontcolor;
}

.preco-promocional {
  font-weight: bold;
  color: $preco-promocional-fontcolor;
}

// Desktops
@media(min-width: 900px) {
  html {
    font-size: 100%;
  }

  .mobile {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .titulo-section {
    padding: 5px 15px;
    width: auto;
    min-width: 225px;
  }

  .container-conteudo {
    margin: 0 100px;
  }

  .header-conteudo {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .header-contatos {
    width: auto;
    .link-contato {
      justify-content: start;
    }
  }

  .header-botao-pedido {
    .botao-pedido-link {
      font-size: $botao-cta-desktop-fontsize;
      padding: 18px 40px;
    }
    .botao-pedido-img {
      width: 50px;
      height: 50px;
    }
  }

  .lista-produtos {
    justify-content: space-between;
    align-items: start;
  }

  .lista-produtos::after {
    content: "";
    width: 30%;
  }

  .lista-produtos-item {
    margin-bottom: 30px;
    width: 30%;
    min-height: 580px;
  }

  .produto-img {
    width: 100%;
    height: 380px;
  }

  .produto-descricao {
    margin-bottom: 0;
  }

  .footer-slogan {
    margin: 30px 0;
  }
  
  .formas-pagamento, .entregas {
    margin: 30px 0;
  }

  .frete-table-tr {
    border-top: none;
  }

  .footer-conteudo {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 170px;
  }

  .copyrights {
    width: 100%;
  }

  .cartaz-promocao { padding: 30px 50px; }
}